<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
    <div class="main">
        <div id="Comment">
    <!------    公用回复面板    ------>
            <div class="CHeader">
                <div class="CPersonal">
                    <div class="CPortrait CheckPt" sid="1" onselectstart="return false">
                        <!--<section class="UserPortrait">-->
                            <!--<em class="CPortrait">-->
                                <!--<img src="./images/14.png" alt="" class="PortImg" title="头像">-->
                            <!--</em>-->
                        <!--</section>-->
                        <img src="./images/14.png" alt="" class="PortImg" title="头像">
                    </div>
                    <div class="PersonalInfo">
                        <input type="text" class="InfoContent InfoNn" placeholder="昵称(必填)">
                        <input type="text" class="InfoContent InfoEm" placeholder="您的电子邮箱(用于通知,必填)">
                        <input type="text" class="InfoContent InfoWs" placeholder="您的博客网址(可选)">
                    </div>
                </div>
                <div class="CContent">
                    <textarea name="" class="Ccontents" placeholder="来说两句吧..."></textarea>
                </div>
                <div class="Csubmit"  onselectstart="return false">
                    发布评论
                    <i class="Ctriangle"></i>
                </div>
                <!--<div class="SbmTips">请填写昵称！</div>-->
            </div>
            <div class="CMain">
                <div class="CMTitle">
                    <div class="MTContent">评论</div>
                    <div class="MTCount">
                        <span class="TCNumber">10</span>人参与，
                        <span class="TCNumber">7</span>条评论
                    </div>
                </div>
                <div class="CMLists">
                    <div class="MLTitle">
                        <i class="LTBg"></i>
                        最新评论
                    </div>
    <!------    评论列表    ------->
                    <div class="MLContents">
                        <div class="LCSub">
                            <div class="CPortrait">
                                <a href="" class="CPLink">
                                    <img src="./images/13.png" alt="" class="PortImg">
                                </a>
                            </div>
                            <div class="ContMsg">
                                <div class="UserInfo">
                                    <span class="MsgTime">2017年2月13日 0:56</span>
                                    <span class="Nickname">
                                        <a href="" class="NnLink">SpanishOnion</a>
                                    </span>
                                    <span class="UserAdd">[北京市网友]</span>
                                </div>
                                <!------    盖楼开始     -------->
                                <div class="fatherReply">
                                    <div class="FRMain">
                                        <div class="FRMain">
                                            <div class="RMFloor">
                                                <div class="UserInfo">
                                                    <span class="MsgTime floorNum">1</span>
                                                    <span class="Nickname">
                                                        <a href="" class="NnLink">SpanishOnion</a>
                                                    </span>
                                                    <span class="UserAdd">[北京市网友]</span>
                                                </div>
                                                <div class="CommentInfo">直接评论</div>
                                                <div class="CommentBtn CommentsBtn">
                                                    <div class="CBCai">
                                                        <span class="CaiCount">1</span>
                                                        <i class="iconCai"></i>
                                                    </div>
                                                    <div class="CBDing">
                                                        <span class="dingCount">2</span>
                                                        <i class="iconDing"></i>
                                                    </div>
                                                    <span class="CBReply btnHidden" aid="1">回复</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="RMFloor">
                                            <div class="UserInfo">
                                                <span class="MsgTime">2</span>
                                                <span class="Nickname">
                                                <a href="" class="NnLink">SpanishOnion</a>
                                            </span>
                                                <span class="UserAdd">[北京市网友]</span>
                                            </div>
                                            <div class="CommentInfo">对1楼进行回复</div>
                                            <div class="CommentBtn CommentsBtn">
                                                <div class="CBCai">
                                                    <span class="CaiCount">1</span>
                                                    <i class="iconCai"></i>
                                                </div>
                                                <div class="CBDing">
                                                    <span class="dingCount">2</span>
                                                    <i class="iconDing"></i>
                                                </div>
                                                <span class="CBReply" aid="1">回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!------    盖楼结束     -------->
                                <div class="CommentInfo">对2楼进行回复</div>
                                <div class="CommentBtn">
                                    <div class="CBCai">
                                        <span class="CaiCount">1</span>
                                        <i class="iconCai"></i>
                                    </div>
                                    <div class="CBDing">
                                        <span class="dingCount">2</span>
                                        <i class="iconDing"></i>
                                    </div>
                                    <span class="CBReply" aid="1">回复</span>
                                </div>
                                <!------    公用回复面板添加至此处     ------>
                            </div>
                        </div>
                        <div class="LCSub">
                            <div class="CPortrait">
                                <a href="" class="CPLink">
                                    <img src="./images/13.png" alt="" class="PortImg">
                                </a>
                            </div>
                            <div class="ContMsg">
                                <div class="UserInfo">
                                    <span class="MsgTime">2017年2月13日 0:56</span>
                                    <span class="Nickname">
                                        <a href="" class="NnLink">SpanishOnion</a>
                                    </span>
                                    <span class="UserAdd">[北京市网友]</span>
                                </div>
    <!------    盖楼开始     -------->
                                <div class="fatherReply">
                                    <div class="FRMain">
                                        <div class="RMFloor">
                                            <div class="UserInfo">
                                                <span class="MsgTime">1</span>
                                                <span class="Nickname">
                                                <a href="" class="NnLink">SpanishOnion</a>
                                            </span>
                                                <span class="UserAdd">[北京市网友]</span>
                                            </div>
                                            <div class="CommentInfo">直接评论</div>
                                            <div class="CommentBtn CommentsBtn">
                                                <div class="CBCai">
                                                    <span class="CaiCount">1</span>
                                                    <i class="iconCai"></i>
                                                </div>
                                                <div class="CBDing">
                                                    <span class="dingCount">2</span>
                                                    <i class="iconDing"></i>
                                                </div>
                                                <span class="CBReply" aid="1">回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    <!------    盖楼结束     -------->
                                <div class="CommentInfo">对1楼进行回复</div>
                                <div class="CommentBtn">
                                    <div class="CBCai">
                                        <span class="CaiCount">1</span>
                                        <i class="iconCai"></i>
                                    </div>
                                    <div class="CBDing">
                                        <span class="dingCount">2</span>
                                        <i class="iconDing"></i>
                                    </div>
                                    <span class="CBReply" aid="1">回复</span>
                                </div>
    <!------    公用回复面板添加至此处     ------>
                            </div>
                        </div>
                        <div class="LCSub">
                            <div class="CPortrait">
                                <a href="" class="CPLink">
                                    <img src="./images/13.png" alt="" class="PortImg">
                                </a>
                            </div>
                            <div class="ContMsg">
                                <div class="UserInfo">
                                    <span class="MsgTime">2017年2月13日 0:56</span>
                                    <span class="Nickname">
                                        <a href="" class="NnLink">SpanishOnion</a>
                                    </span>
                                    <span class="UserAdd">[北京市网友]</span>
                                </div>
    <!------    盖楼开始     -------->
    <!------    盖楼结束     -------->
                                <div class="CommentInfo">直接评论</div>
                                <div class="CommentBtn">
                                    <div class="CBCai">
                                        <span class="CaiCount">1</span>
                                        <i class="iconCai"></i>
                                    </div>
                                    <div class="CBDing">
                                        <span class="dingCount">2</span>
                                        <i class="iconDing"></i>
                                    </div>
                                    <span class="CBReply" aid="1">回复</span>
                                </div>
                                <!------    公用回复面板添加至此处     ------>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</body>
</html>